<!DOCTYPE html>
<html>

<head>
  <title>The Oscars Database</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- local stylesheeht reference -->
  <!-- <link rel="stylesheet" href="../static/style.css" /> -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <style>
    body {
      background-image: url('../static/giphy.gif');
      background-size: cover;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg">

    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='oscars_logo.png') }}" alt="OSCARS LOGO" width="138" height="72" />
      <!-- <img src="{{ url_for('static', filename='oscars_logo.png') }}" alt="OSCARS LOGO" width="770" height="443" class="center"> -->
    </a>

    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#supportedContent"
      aria-controls="supportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="supportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('root') }}">Splash<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('year_root') }}">Years</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('award_root') }}">Awards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('people_root') }}">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('movies_root') }}">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
      </ul>
    </div>
  </nav>

  <p class="model-title">about</p>

  <div class="container" style="background-color: black">
    <p id="about-title" style="text-align: center; text-decoration: underline;">Welcome</p>
    <p id="about-content" style="text-align: center">This site is a place for exploring the past of the Oscars. With this site
      you can navigate through the years, the people, the movies, and the awards that have made the Oscars what they are
      today. This site is for all people looking to experience the history of the Oscars. It is meant to provide a
      simple way of navigating through the Osacars, so thank you for joining us and please enjoy.</p>
    <br>
    <br>
    <p id="about-title" style="text-align: center; text-decoration: underline;">Tools Used</p>
    <p id="about-content" >In building this website we used multiple different tools to produce an
      effective user experience, these include:
      Bootstrap- Bootstrap was used to create formatting for the webpages, create a pleasent design, and implement
      important features such as the navigation bar.
      Flask MVC Architecture- This tool was used for many purposes including url routing, displaying the web pages, the
      webpages communication with google app engine, API calls, and database connections.
      Git- Git was used consistently throughout the project for team collaboration while working on the many different
      types of files that we created. It was effective in keeping multiple branches so that different team members could
      work on seperate parts of the project at the same time.
      Python Requests- Python Requests was used to make calls to the API and return a JSON stream containing the
      requested data. This is used to populate the webpage.
      Text Editors- Each team member used a text editor to edit and create code. These are vital in the development of
      this page</p>
    <br>
    <br>
    <p id="about-title" style="text-align: center; text-decoration: underline;">Results of Using Multiple Data Sources</p>
    <p id="about-content" >Every database has a different structure that required parsing the data
      individually. An interesting result of this is that for each data model, we created unique parsing methods to
      display the proper data.
    </p>
    <br>
    <br>
    <p id="about-title" style="text-align: center; text-decoration: underline;">The Data</p>
    <p id="about-content" >We ping APIs for specific information. For example for the Best Actor,
      Best Actress, or Best Director Award we are sending a similar API call to the WolframAlpha API which returns a
      list of all best actors, best actresses, or best director along with other data. Then, we parse through the JSON
      return values, looking for our specific data, and then send objects back to the HTML for Jinja2 to parse.
    </p>
    <br>
    <br>
    <p id="about-title" style="text-align: center; text-decoration: underline;">Team Stats</p>
    <div id="center-block">
      <p id="about-attribute" >Group Name: </p>
      <p id="about-content" > Afternoon-3</p>
      <br>
      <p id="about-attribute" >Number of commits: </p>
      <p id="about-content" > {{commits['total']}} </p>
      <br>
      <p id="about-attribute" >Number of issues: </p>
      <p id="about-content" > {{issues['total']}} </p>
      <br>
      <p id="about-attribute" >Number of tests: </p>
      <p id="about-content" > 0</p>
    </div>
    
    <br>
    <br>
    <div>
      <a id="about-title" style="text-align: center; text-decoration: underline;"
        href="https://github.com/SahilAshar/EE461L-DatabaseApp">GitHub Repo</a>
    </div>
    <br>
    <br>

    <!-- TODO: Update Bios-->
    <div style="text-align: center;">
      <p id="about-title" style="text-decoration: underline;">Team Members</p>
    </div>
    <div class="row" style="text-align: left;">
      <br>
      <div class="col-md-3" style="text-align: center;">
        <img src="{{ url_for('static', filename='sahil-ashar.jpg') }}" alt="SAHIL ASHAR" width="200"
          style="object-fit: cover;" />
        <p id="about-title" >Sahil Ashar</p>
      </div>
      <div class="col-md-9">
        <!-- <a id="about-content" href="https://sahilashar.com">Bio: website</a> -->
        <p id="about-attribute">Bio: </p>
        <p id="about-content">I'm a senior at The University of Texas at Austin, studying Electrical and Computer Engineering, with a focus in Distributed Computing, Systems Engineering, and Software Engineering.</p>
        <p id="about-attribute">Major/Track: </p>
        <p id="about-content">Electrical and Computer Engineering/Software Engineering and Design</p>
        <p id="about-attribute">Primary Responsibilities: </p>
        <p id="about-content">Back End Development</p>
        <p id="about-attribute">Number of Commits: </p>
        <p id="about-content">{{commits['Sahil_Ashar']}}</p>
        <p id="about-attribute">Number of Issues: </p>
        <p id="about-content">{{issues['Sahil_Ashar']}}</p>
        <p id="about-attribute">Number of Unit Tests: </p>
        <p id="about-content">0</p>

      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row" style="text-align: left;">
      <br>
      <div class="col-md-3" style="text-align: center;">
        <img src="{{ url_for('static', filename='austin-blanchard.jpg') }}" alt="AUSTIN BLANCHARD" width="200"
          style="object-fit: cover;" />
        <p id="about-title">Austin Blanchard</p>
      </div>
      <div class="col-md-9">
        <!-- <a id="about-content" href="https://www.linkedin.com/in/austin-blanchard-169a45182/">Bio: website</a> -->
        <p id="about-content">Bio: Hi, my name is Austin Blanchard and I am a 3rd year Electrical Engineering major with a focus on Software Engineering at the University of Texas at Austin. I am proficient with object oriented programming languages such as java, C/C++, and javascript and have exposure to Python in addition to operating in a Linux environment. Some of my hobbies include playing basketball, making music, and hiking.</p>
        <p id="about-content">Major/Track: Electrical and Computer Engineering/Software Engineering and Design</p>
        <p id="about-content">Primary Responsibilities: Back End Development</p>
        <p id="about-content">Number of Commits: {{commits['ablanchard10']}}</p>
        <p id="about-content">Number of Issues: {{issues['ablanchard10']}}</p>
        <p id="about-content">Number of Unit Tests: 0</p>
      </div>
    </div>

    <div class="row" style="text-align: left;">
      <br>
      <div class="col-md-3" style="text-align: center;">
        <img src="{{ url_for('static', filename='noah-lisk.JPG') }}" alt="NOAH LISK" width="200"
          style="object-fit: cover;" />
        <br>
        <p id="about-title">Noah Lisk</p>
      </div>
      <div class="col-md-9">
        <!-- <a id="about-content" href="https://www.linkedin.com/in/noahlisk/">Bio: website</a> -->
        <p id="about-content">Bio: I am currently a full-time student at the Cockrell School of Engineering, majoring in Electrical and Computer Engineering. My degree plan consists of a primary focus in Software Engineering with a secondary focus in Interpersonal Management. Additionally, I successfully completed the McCombs Summer Institute, granting me a minor in Business Administrations. Professionally, my hope is to work for a company where my specialization in software and my foundational knowledge in business will provide opportunities in the managerial side of tech.</p>
        <p id="about-content">Major/Track: Electrical and Computer Engineering/Software Engineering and Design</p>
        <p id="about-content">Primary Responsibilities: Back End Development</p>
        <p id="about-content">Number of Commits: {{commits['Noah_Lisk']}}</p>
        <p id="about-content">Number of Issues: {{issues['Noah_Lisk']}}</p>
        <p id="about-content">Number of Unit Tests: 0</p>
      </div>
    </div>

    <div class="row" style="text-align: left;">
      <br>
      <div class="col-md-3" style="text-align: center;">
        <img src="{{ url_for('static', filename='natasha-long.png') }}" alt="NATASHA LONG" width="200"
          style="object-fit: cover;" />
        <br>
        <p id="about-title">Natasha Long</p>
      </div>
      <div class="col-md-9">
        <!-- <a id="about-content" href="https://www.linkedin.com/in/natasha-long">Bio: website</a> -->
        <p id="about-content">Bio: I am a junior attending the University of Texas at Austin as an Electrical and Computer Engineering major with a focus on Software Development. I spend most of my time programming class assignments, reading about trends in the technology industry, and developing my graphic design skills.
          When I do have free time, I enjoy being in a leadership position for Texas Lassos, a registered 501(c)(3) service organization at UT. You can find me on campus talking to prospective members, volunteering within the Austin community, at the local YMCA teaching martial arts with Down Syndrome Association of Central Texas, or in the stands cheering on the Longhorn volleyball team. I also fill my time as a member of the Student Engineering Council’s publicity committee, promoting any of SEC’s events and cultivating an exciting and inclusive culture within The Cockrell School of Engineering.
          </p>
        <p id="about-content">Major/Track: Electrical and Computer Engineering/Software Engineering and Design</p>
        <p id="about-content">Primary Responsibilities: Front End Development</p>
        <p id="about-content">Number of Commits: {{commits['natashalong']}}</p>
        <p id="about-content">Number of Issues: {{issues['natashalong']}}</p>
        <p id="about-content">Number of Unit Tests: 0</p>
      </div>
    </div>

    <div class="row" style="text-align: left;">
      <br>
      <div class="col-md-3" style="text-align: center;">
        <img src="{{ url_for('static', filename='carolyn-sheehy.PNG') }}" alt="CAROLYN SHEEHY" width="200"
          style="object-fit: cover;" />
        <br>
        <p id="about-title">Carolyn Sheehy</p>
      </div>
      <div class="col-md-9">
        <!-- <a id="about-content" href="https://www.linkedin.com/in/carolyn-sheehy-131399189">Bio: website</a> -->
        <p id="about-content">Bio: I am a third year transfer student at The University of Texas at Austin where I am working on completing my B.A. in Electrical and Computer Engineering. My area of focus within my studies is in software design and I will be graduating fall 2020.</p>
        <p id="about-content">Major/Track: Electrical and Computer Engineering/Software Engineering and Design</p>
        <p id="about-content">Primary Responsibilities: Front End Development</p>
        <p id="about-content">Number of Commits: {{commits['carosheehy']}}</p>
        <p id="about-content">Number of Issues: {{issues['carosheehy']}}</p>
        <p id="about-content">Number of Unit Tests: 0</p>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

</body>

</html>