<!DOCTYPE html>
<html>

<head>
  <script src="{{ url_for('static', filename='script.js') }}"></script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- local stylesheeht reference -->
  <!-- <link rel="stylesheet" href="../static/style.css" /> -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <!-- Navbar Code -->
  <nav class="navbar navbar-expand-lg">

    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='oscars_logo.png') }}" alt="OSCARS LOGO" width="138"
        height="72" />
    </a>

    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#supportedContent"
      aria-controls="supportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="supportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('root') }}">Splash<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('year_root') }}">Years</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('award_root') }}">Awards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('people_root') }}">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('movies_root') }}">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <label id="filter-label" class="container">Acting
              <input type="checkbox" name="radio">
              <span class="checkmark"></span>
            </label>
            <label id="filter-label" class="container">Directing
              <input type="checkbox" name="radio">
              <span class="checkmark"></span>
            </label>
            <label id="filter-label" class="container">Movies
              <input type="checkbox" name="radio">
              <span class="checkmark"></span>
            </label>
            <label id="filter-label" class="container">Music
              <input type="checkbox" name="radio">
              <span class="checkmark"></span>
            </label>
            <label id="filter-label" class="container">Producing
              <input type="checkbox" name="radio">
              <span class="checkmark"></span>
            </label>
            <div id="center-block">
              <input type="button" class="button" value="Filter">
            </div>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="button" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- End Navbar Code -->

  <!-- Model Title -->
  <div>
    <p class="model-title">AWARDS</p>
  </div>
  <!-- End Model Title -->

  <!-- Grid Code -->
  <div id="center-block">
    <div class="grid-container">
      {% for award in paginated_awards.items %}
        <div class="grid-item">
          <div class="card">
            <a class="card-title" href="{{'/awards/%s'%award.query_title }}">{{ award.title }}</a>
            <div id="center-block">
              <img class="card-img-top" src="../static/oscars_logo.png" alt="Card image cap">
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-transparent">Most Recent Recipient: {{award.winners[0]['name'].split("(")[0]}} - {{award.winners[0]['year']}}</li>
              <li class="list-group-item bg-transparent">First Recipient: {{award.winners[-1]['name'].split("(")[0]}} - {{award.winners[-1]['year']}}</li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- End Grid Code -->

  <!-- Pagination Navigation Code-->
  {# Macro for creating navigation links #}
  {% macro render_navigation(pagination, endpoint) %}
  <div class=pagination id="center-block">
    {% if pagination.page != 1%}
      <a id="page-numbers" href="{{ url_for(endpoint, page=pagination.page-1) }}">previous</a>
    {% endif%}
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <a id="page-numbers" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
          {% else %}
            <strong id="selected-page">{{ page }}</strong>
          {% endif %}
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %} 
      {% endfor %}
      {% if pagination.page != pagination.pages %}
        <a id="page-numbers" href="{{ url_for(endpoint, page=pagination.page+1) }}">next</a>
      {% endif %}
  </div>
  {% endmacro %}

  {{ render_navigation(paginated_awards, 'award_root') }}
  <!-- End Pagination Navigation Code-->

  <br>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>