<!DOCTYPE html>
<html>

<head>
  <title>The Oscar Database</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- local stylesheeht reference -->
  <!-- <link rel="stylesheet" href="../static/style.css" /> -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <!-- Local Sytlesheet -->
  <style>
    body {
      background-image: url('../static/giphy.gif');
      background-size: cover;
    }
  </style>
  <!-- End Local Stylesheet -->
</head>

<body>
  <!-- Navbar Code -->
  <nav class="navbar navbar-expand-lg">

    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='oscars_logo.png') }}" alt="OSCARS LOGO" width="138" height="72" />
    </a>

    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#supportedContent"
      aria-controls="supportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="supportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('root') }}">Splash<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('year_root') }}">Years</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('award_root') }}">Awards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('people_root') }}">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('movies_root') }}">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Navbar Code -->

  <!-- Oscars Logo Code -->
  <div>
    <img src="{{ url_for('static', filename='oscars_logo.png') }}" class="rounded mx-auto d-block" alt="OSCARS LOGO" width="908" height="474" />
    <!-- width="519" height="271" -->
  </div>
  <!-- End Oscars Logo Code -->

  <!-- Carousel Code -->
  <p id="splash">
    Please enjoy some of our favorite Academy Award moments.
  </p>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="text-align: center;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GsSWj51uGnI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p id="splash">Ellen takes the most retweeted picture of all time.</p>
      </div>
      <div class="carousel-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ftz-BPqCiZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p id="splash">Bong Joon Ho wins Best Director, delivering a humble speech.</p>
      </div>
      <div class="carousel-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/llgL7mGYVTI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p id="splash">Halle Berry wins Best Actress, paving the way for women of color.</p>
      </div>
      <div class="carousel-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bb7303ukNtk?start=123" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p id="splash">Jack Nicholson is too drunk to deliver his acceptance speech, so he invites the runner-up, Robin Williams, to say a few words.</p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- End Carousel Code -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        $("#carouselExampleControls").carousel({interval: false});
      });
    </script>      

</body>

</html>