<!DOCTYPE html>
<html>

<head>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- local stylesheeht reference -->
  <!-- <link rel="stylesheet" href="../static/style.css" /> -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<nav class="navbar navbar-expand-lg">

  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename='oscars_logo.png') }}" alt="OSCARS LOGO" width="138" height="72" />
    <!-- <img src="{{ url_for('static', filename='oscars_logo.png') }}" alt="OSCARS LOGO" width="770" height="443" class="center"> -->
  </a>

  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#supportedContent"
    aria-controls="supportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="supportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('root') }}">Splash<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('year_root') }}">Years</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('award_root') }}">Awards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('people_root') }}">People</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('movies_root') }}">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>
    </ul>
  </div>
</nav>

<body>

  <div>
    <p class="page-title-gold">MOVIES</p>
  </div>
  <div>
    <p id="movie-links" style="text-align: center;">This page is currently under construction.</p>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col-md-4" id="heading">
        <img src="{{ url_for('static', filename='jojo-rabbit.jpg') }}" alt="JOJO RABBIT" width="182" height="268" />
        <br>
        <a id="movie-links" href="/movies/jojo-rabbit"> Jojo Rabbit </a>
      </div>
      <div class="col-md-4" id="heading">
        <img src="{{ url_for('static', filename='parasite.png') }}" alt="PARASITE" width="182" height="268" />
        <br>
        <a id="movie-links" href="/movies/parasite"> Parasite </a>
      </div>
      <div class="col-md-4" id="heading">
        <img src="{{ url_for('static', filename='littlewomen.jpg') }}" alt="Little Women" width="182" height="268" />
        <br>
        <a id="movie-links" href="/movies/little-women"> Little Women </a>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>