<!DOCTYPE html>
<html>
<head>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
 
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <!-- local stylesheeht reference -->
  <!-- <link rel="stylesheet" href="../static/style.css" /> -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  
  <!-- Navbar Code -->
  <nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename='oscars_logo.png') }}" alt="OSCARS LOGO" width="138"
      height="72" />
  </a>

  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#supportedContent" aria-controls="supportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="supportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('root') }}">Splash<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('year_root') }}">Ceremonies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('people_root') }}">People</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('movies_root') }}">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('award_root') }}">Awards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">About</a>
      </li>
    </ul> 
  </div>
  </nav>
  <!-- End Navbar Code -->

  <!-- Content -->
  <div style="text-align: center; "></div>
    <div id="center-block">
      <p class="instance-title">{{year['ceremony_name']}}</p>
    </div>
    <br>
    <div id="center-block">
      <img id="img-format" src="{{year['image_link']}}" alt="Ceremony Pic" />
    </div>
    <br>
    <br>
    <div id="center-block-content">
      <p id="instance-content">{{ year['ceremony_summary'] }}</p>
    </div>
    <br>
    <div id="center-block">
      <p id="instance-attribute">Awards Won</p>
    </div>
  </div>
  <!-- End Content -->

  <!-- Grid Code -->
  <div id="center-block">
    <div class="row" id="instance-grid" style="width: 80%;">
      {% for award in awards%}
        <div class="col" id="instance-grid-awards">{{award['title']}}</div>
        {% for nominee in award['nominees'] %}
          <div class="col" id="instance-grid-recipient">
            
            {% if nominee['song'] != '' %}
              {{ nominee['song'] }} --
            {% else %}
              {{nominee['song']}}
            {% endif %}
            
            {% if award['title'] == "best motion picture" or award['title'] == "best picture" %}
              {{nominee['name']}}
            {% elif award['title'] == "achievement in music written for motion pictures (original song)" or award['title'] == "music (original song)" %}
              {{nominee['name']}}
            {% else %}
              <a href="{{'/people/%s'%nominee['name'] | replace(' ', '+') | lower }}">{{ nominee['name'] }}</a> 
            {% endif %}
            -- 
            {{nominee['movie']}}
          </div>
        {% endfor %}
        <div class="w-100"></div>
      {% endfor %}
    </div>
  </div>
  <!-- End Grid Code -->

  <br>
  <br>
  <br>

  <!-- End Grid Code -->

  <br>
  <br>
  <br>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>
